@font-face {
  font-family: CyberwarRegular;
  src: url(./Fonts/Cyberware/CyberwarRegular.ttf) format('truetype');
}
@font-face {
  font-family: exwayer-font;
  src: url(./Fonts/exwayer-font/Exwayer-X3eqa.ttf) format('truetype');
}


body {
  margin: 0;
  font-family: 'CyberwarRegular','exwayer-font',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: black
}

*{
  box-sizing: border-box;
}